.foxy-fields a {
  text-decoration: none;
}
.foxy-fields-field {
  margin-bottom: 10px;
}

.foxy-fields-tabs {
  border-bottom: 1px solid #ddd;
}
.foxy-fields-tabs .foxy-fields-tab {
  display: inline-block;
  margin-bottom: 0;
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
}
